@font-face {
  font-family: 'New York';
  src: url('/fonts/NewYork/NewYorkMedium-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York';
  src: url('/fonts/NewYork/NewYorkMedium-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York';
  src: url('/fonts/NewYork/NewYorkMedium-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York';
  src: url('/fonts/NewYork/NewYorkMedium-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}